{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
   <link rel="stylesheet" href="{% static 'css/layout_institucional.css' %}">
{% endblock %}

{% block content %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    Sobre a Revista / Edição Atual - Boletim Paranaense de Geociências
  </title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Roboto:wght@700&family=Rubik+Dirt&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'css/layout_env.css' %}" />
</head>

    <main class="container_principal">
        <section class="secao_conteudo">
            <h2 class="titulo_secao">Corpo Consultivo</h2>
            <div class="grid_container">
                {% for editor in editores %}
                <div class="card">
                    <img src="{{ editor.foto.url }}" alt="Foto de {{ editor.nome }}">
                    <div class="card-info">
                        <h4 class="nome-editor">{{ editor.nome }}</h4>
                        <p class="cargo-editor">{{ editor.cargo }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}