{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/layout_faleconosco.css' %}">
      <link
    href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Roboto:wght@700&family=Rubik+Dirt&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'css/layout_env.css' %}" />
{% endblock %}

{% block content %}
<div class="container-conteudo">
    <div class="secao-contato">
        <h2>Entre em contato pelo nosso email</h2>
        <p class="email-contato">bpg.ufpr@gmail.com</p>
    </div>

    <div class="secao-contato">
        <h2>Nos envie uma mensagem</h2>
        <form class="form-mensagem" action="https://formspree.io/f/mzzjydzl" method="POST">
            
            <label for="email">Seu email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="mensagem">Sua mensagem:</label>
            <textarea id="mensagem" name="message" rows="6" required></textarea>
            
            <button type="submit">
                Enviar Mensagem <i class="fa-solid fa-paper-plane"></i>
            </button>
            
        </form>
    </div>
</div>
{% endblock %}