{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home-page.css' %}">
      <link
    href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Roboto:wght@700&family=Rubik+Dirt&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" href="{% static 'css/layout_env.css' %}" />
{% endblock %}

{% block content %}
    <main class="homepage-main-content">
        <section class="image-carousel-section">
            <div class="image-carousel-container">
                <button class="carousel-button prev">&#10094;</button>
                <div class="image-carousel-track-container">
                    <div class="image-carousel-track">
                        {% for slide in slides %}
                            <div class="image-carousel-slide">
                                <img src="{{ slide.imagem.url }}" alt="{{ slide.titulo }}">
                                <div class="image-info-overlay">
                                    <h3>{{ slide.titulo }}</h3>
                                    <p>{{ slide.descricao }}</p>
                                    {# --- LINHA MODIFICADA --- #}
                                    <a href="{% url 'slide_detalhe' slug=slide.slug %}" class="read-more-button">Leia Mais</a>
                                    {# ------------------------- #}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button class="carousel-button next">&#10095;</button>
            </div>
            <div class="carousel-dots-container image-dots"></div>
        </section>

        <section class="icon-carousel-section">
            </section>
    </main>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/homePage-Carousel.js' %}"></script>
{% endblock %}